@model IEnumerable<ETWebsite.ViewModel.RouteVM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RouteName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgencyVM.AgencyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartingLocationVM.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndLocationVM.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RouteModeOfTravel)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.TravelTimeMinutes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.RouteName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AgencyVM.AgencyName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.StartingLocationVM.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EndLocationVM.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RouteModeOfTravel)
    </td>
    
    <td>
        @Html.DisplayFor(modelItem => item.TravelTimeMinutes)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Distance)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
